:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  input {
    min-width: 200px;
    padding: 0.25rem 0.5rem;
  }

  a, p {
    text-decoration: none;
    text-underline: none;
    border: 1px solid dodgerblue;
    padding: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    gap: 3px;
    align-items: center;
    &:hover {
      color: dodgerblue;
    }

    @media screen and (max-width: 500px) {
      span {
        display: none;
      }
    }
  }
}

 .top-headlines-grid {
   display: grid;

   /*grid-template-rows: 1fr 1fr 1fr;*/
   /*grid-template-columns: 1fr 1fr 1fr 1fr;*/

   grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

   gap: 0.75rem;
   height: 100%;

   img {
     max-width: 100%;
     height: auto;
     object-fit: cover;
   }

   article {
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
     position: relative;

     h4 {
       font-size: 16px;
       font-weight: 600;
     }

     p {
       font-size: 14px;
       overflow: hidden;
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 2;
     }

     div {
       margin-top: auto;
       display: flex;
       width: 100%;
       justify-content: space-between;
     }

     svg {
       cursor: pointer;
     }

   }

 }

#hero-news {
  /*height: 200px;*/
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 4;

  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 840px) {
  #hero-news {
    grid-row-end: 2;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 600px) {
  #hero-news {
    grid-row-end: auto;
    grid-column-end: auto;
  }
}


.searched-news-grid {
  display: grid;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/

  /*grid-template-columns: 50% 50% ; !* Using relative length units *!*/
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  gap: 0.75rem;

  img {
    /*min-width: inherit;*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*object-fit: cover;*/

    display: block;
    object-fit: cover;
    max-width: 100%;
    flex: 1;
    min-height: 0;
  }

  article {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 0.75rem;

    h4 {
      font-size: 16px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    svg {
      cursor: pointer;
    }
  }

}
